# Byte-compiled files
__pycache__/
*.py[cod]
# macOS system files
.DS_Store
# Test cache
.pytest_cache/
# Virtual environment
source/
!source/.gitignore
# Reports
*.html
*.log
# Ignore Pycharm settings
.idea/
